.logo{
    color:#333;
    text-decoration: none;
    font-size: 50px;
    font-size: 3.125rem;
    margin: 16px auto 16px 16px;
    display: inline-block;
    &__text{

    }
    &__ending{
        color:#008800;
    }
}
